body{
    background-color: white; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"
}

.login{
    width: 465px;
    height: 350px;
    border: 1px solid black;
    border-radius: 4px;
    margin: 150px 0 0 350px;
    padding: 30px 40px;
    text-align: center;
}

h1{
    font-size: 30px;
    margin: 0px;
    color: rgb(30, 149, 133);
}

#subtitulo{
    font-size: 13px;
    margin: 0px;
    color: gray;
}

.inputs_login{
    width: 350px;
    height: 30px;
    border: 1px solid black;
    border-radius: 3px;
    display:flex;
    margin: 15px 0 0 60px;
    color:rgb(30, 149, 133);
}

.inputs_login input{
    height: 28px;
    border: black;
    outline: none;
    margin-left: 3px;
    width: calc(100% - 16px);
    cursor: text;
}

.inputs_login i{
    margin-left: 10px;
    line-height: 28px;
}

#divMostrarSenha{
    width: 140px;
    height: 20px;
    border: none;
    text-align: left;
    margin: 10px 0 0 60px;
}

#divBotaoEntrar{
    width: 130px;
    height: 90px;
    background-color: white;
    border: none;
    border-radius: 15px;
    margin: 20px 0 0 180px;
    text-align: center;
}

#botaoEntrar{
    background-color: rgb(30, 149, 133);
    margin-top: 4px;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 15px;
    width: 120px;
    height: 30px;
    cursor: pointer;
    outline: none;
}

#botaoEsqueceuSenha{
    color: gray;
    font-size: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

#botaoSesi{
    position: fixed;
    left: 530px;
    top: 20px;
    width: 1000px;
    height: 50px;
    background-color: transparent;
    border: 0 none;
    background-image: url(/imagens/logo.svg);
    cursor: pointer;
    outline: 0;
}

#banner{
    color: #1E9585;
    background-color: white;
    padding-left: 5px;
    padding-top: 2px;
    font-size: 30px;
    line-height: 28px;
    margin: 0;
    padding-left: 10px;
    border-radius: 15px 0 0 15px;
    position: fixed;
    top: 800px;
    left: 1500px;
}

/*Muda Tela*/

.opcoes{
    width: 210px;
    height: 40px;
  margin: 50px auto;
  border: none!important;
  margin: 50px 0px 50px 0px;
  background-color:rgb(236, 236, 236);
    color: rgb(30, 149, 133);  
    font-family: sans-serif;
}

.textoBemVindo2{
    color:  rgb(30, 149, 133);
    text-align: center;
    position: fixed;
    top: 0px;  
    left: 900px;   
    }

.textoaoEspacoEstudante2{
    color: gray;
    font-size: 10px;
    text-align: center;
    position: fixed;
    top: 45px;  
    left: 905px;   
}

.dadosPessoais{
    width: 100px;
    height: 120px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:rgb(30, 149, 133);;
    border-width: 0px 0px 3px 0px;
    border-color: whitesmoke;
    cursor: pointer;
    position: fixed;
    left: 750px;
    top: 200px;
    font-family: sans-serif;
    padding-top: 50px;
    background-image: url(/imagens/usuario.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 60px 60px;
    background-color: white;
}

/*Muda Tela*/
